# Trabajar con archivos de texto

Abrir archivos en Python.

In [ ]:
f = open("email.txt") # Permite abrir un archivo de texto plano.

In [ ]:
f # No sirve para ver los archivos

In [ ]:
type(f) # Tienen un tipo de dato diferente

In [ ]:
list(f) # Para ver que datos contene. 
        # Sin embargo, hay un \n entre las lineas.

In [ ]:
f = open("email.txt") # En Python la lectura de un archivo se hace una sola vez. Es como si fuera una variable local.
emails = f.read() # Pone todo como una sola línea

In [ ]:
print(emails)

In [ ]:
emails.split()

### Cerrar archivos

In [ ]:
f.close() # Si lo cierro queda guardado.

### Abrir archivos de forma eficiente.

In [ ]:
with open("email.txt") as f:
    email = f.read()
    print(emails.split())

In [ ]:
with open("email.txt") as f:
    for line in f:
        print(line)

In [ ]:
with open("email.txt") as f:
    for line in f:
        print(line.strip())

### Crear un archivo en Python

In [1]:
with open("descripciones.txt", "w") as f:
    f.write("Métodos Comptacionales para políticas públicas\n")
    f.write("Univeridad del Rosario\n")
    f.write("Santiago Ortiz \n")

# Parcial

In [14]:
with open("archivo.txt") as f:
    for line in f:
        print(line)

Apellido,Nombre,Edad,Profesion,PromedioMCPP,PeorNota,MejorNota

Rojas,Daniel,26,Economista,4.2,3.9,4.5

Ramirez,Natalia,35,Abogada,3.9,3.2,4.7

Matallana,Santiago,32,Economista,4.5,4.0,5.0

Serrano,Natalia,25,Ingeniera,2.0,1.0,3.0

Roman,Arturo,26,Economista,4.2,3.9,4.5

Ramirez,Camila,35,Abogada,3.9,3.2,4.7

Matallana,Monica,32,Economista,4.5,4.0,5.0

Serrano,Raul,25,Ingeniera,2.0,1.0,3.0

Quijano,Arturo,26,Economista,4.2,3.9,4.5

Manrrique,Camila,35,Abogada,3.9,3.2,4.7

Torres,Monica,32,Economista,4.5,4.0,5.0

Vergara,Raul,25,Ingeniera,2.0,1.0,3.0

Roman,Diego,26,Economista,4.2,3.9,4.5

Ramirez,Luis,35,Abogada,3.9,3.2,4.7

Matallana,Cristhian,32,Economista,4.5,4.0,5.0

Serrano,Silvia,25,Ingeniera,2.0,1.0,3.0

Larrota,Arturo,26,Economista,4.2,3.9,4.5

Ferrer,Camila,35,Abogada,3.9,3.2,4.7

Moreno,Monica,32,Economista,4.5,4.0,5.0

Guerrero,Raul,25,Ingeniera,2.0,1.0,3.0

Roman,Lizeth,26,Economista,4.2,3.9,4.5

Ramirez,Tatiana,35,Abogada,3.9,3.2,4.7

Matallana,Stefanny,32,Economista,4.5,4.0,5.0

Serrano,Sandra,25,Ingeniera,2.0,1.0,3.0

In [16]:
with open("archivo.txt") as f:
    data = f.read()

In [17]:
data

'Apellido,Nombre,Edad,Profesion,PromedioMCPP,PeorNota,MejorNota\nRojas,Daniel,26,Economista,4.2,3.9,4.5\nRamirez,Natalia,35,Abogada,3.9,3.2,4.7\nMatallana,Santiago,32,Economista,4.5,4.0,5.0\nSerrano,Natalia,25,Ingeniera,2.0,1.0,3.0\nRoman,Arturo,26,Economista,4.2,3.9,4.5\nRamirez,Camila,35,Abogada,3.9,3.2,4.7\nMatallana,Monica,32,Economista,4.5,4.0,5.0\nSerrano,Raul,25,Ingeniera,2.0,1.0,3.0\nQuijano,Arturo,26,Economista,4.2,3.9,4.5\nManrrique,Camila,35,Abogada,3.9,3.2,4.7\nTorres,Monica,32,Economista,4.5,4.0,5.0\nVergara,Raul,25,Ingeniera,2.0,1.0,3.0\nRoman,Diego,26,Economista,4.2,3.9,4.5\nRamirez,Luis,35,Abogada,3.9,3.2,4.7\nMatallana,Cristhian,32,Economista,4.5,4.0,5.0\nSerrano,Silvia,25,Ingeniera,2.0,1.0,3.0\nLarrota,Arturo,26,Economista,4.2,3.9,4.5\nFerrer,Camila,35,Abogada,3.9,3.2,4.7\nMoreno,Monica,32,Economista,4.5,4.0,5.0\nGuerrero,Raul,25,Ingeniera,2.0,1.0,3.0\nRoman,Lizeth,26,Economista,4.2,3.9,4.5\nRamirez,Tatiana,35,Abogada,3.9,3.2,4.7\nMatallana,Stefanny,32,Economista,4.5,4.0,5.0\nSerrano,Sandra,25,Ingeniera,2.0,1.0,3.0\n'

In [18]:
data = data.split()

In [19]:
data

['Apellido,Nombre,Edad,Profesion,PromedioMCPP,PeorNota,MejorNota',
 'Rojas,Daniel,26,Economista,4.2,3.9,4.5',
 'Ramirez,Natalia,35,Abogada,3.9,3.2,4.7',
 'Matallana,Santiago,32,Economista,4.5,4.0,5.0',
 'Serrano,Natalia,25,Ingeniera,2.0,1.0,3.0',
 'Roman,Arturo,26,Economista,4.2,3.9,4.5',
 'Ramirez,Camila,35,Abogada,3.9,3.2,4.7',
 'Matallana,Monica,32,Economista,4.5,4.0,5.0',
 'Serrano,Raul,25,Ingeniera,2.0,1.0,3.0',
 'Quijano,Arturo,26,Economista,4.2,3.9,4.5',
 'Manrrique,Camila,35,Abogada,3.9,3.2,4.7',
 'Torres,Monica,32,Economista,4.5,4.0,5.0',
 'Vergara,Raul,25,Ingeniera,2.0,1.0,3.0',
 'Roman,Diego,26,Economista,4.2,3.9,4.5',
 'Ramirez,Luis,35,Abogada,3.9,3.2,4.7',
 'Matallana,Cristhian,32,Economista,4.5,4.0,5.0',
 'Serrano,Silvia,25,Ingeniera,2.0,1.0,3.0',
 'Larrota,Arturo,26,Economista,4.2,3.9,4.5',
 'Ferrer,Camila,35,Abogada,3.9,3.2,4.7',
 'Moreno,Monica,32,Economista,4.5,4.0,5.0',
 'Guerrero,Raul,25,Ingeniera,2.0,1.0,3.0',
 'Roman,Lizeth,26,Economista,4.2,3.9,4.5',
 'Ramirez,Tatiana,35,Abogada,3.9,3.2,4.7',
 'Matallana,Stefanny,32,Economista,4.5,4.0,5.0',
 'Serrano,Sandra,25,Ingeniera,2.0,1.0,3.0']

In [31]:
df = []
for line in data:
    df.append(line.split(","))

In [32]:
df

[['Apellido',
  'Nombre',
  'Edad',
  'Profesion',
  'PromedioMCPP',
  'PeorNota',
  'MejorNota'],
 ['Rojas', 'Daniel', '26', 'Economista', '4.2', '3.9', '4.5'],
 ['Ramirez', 'Natalia', '35', 'Abogada', '3.9', '3.2', '4.7'],
 ['Matallana', 'Santiago', '32', 'Economista', '4.5', '4.0', '5.0'],
 ['Serrano', 'Natalia', '25', 'Ingeniera', '2.0', '1.0', '3.0'],
 ['Roman', 'Arturo', '26', 'Economista', '4.2', '3.9', '4.5'],
 ['Ramirez', 'Camila', '35', 'Abogada', '3.9', '3.2', '4.7'],
 ['Matallana', 'Monica', '32', 'Economista', '4.5', '4.0', '5.0'],
 ['Serrano', 'Raul', '25', 'Ingeniera', '2.0', '1.0', '3.0'],
 ['Quijano', 'Arturo', '26', 'Economista', '4.2', '3.9', '4.5'],
 ['Manrrique', 'Camila', '35', 'Abogada', '3.9', '3.2', '4.7'],
 ['Torres', 'Monica', '32', 'Economista', '4.5', '4.0', '5.0'],
 ['Vergara', 'Raul', '25', 'Ingeniera', '2.0', '1.0', '3.0'],
 ['Roman', 'Diego', '26', 'Economista', '4.2', '3.9', '4.5'],
 ['Ramirez', 'Luis', '35', 'Abogada', '3.9', '3.2', '4.7'],
 ['Matallana', 'Cristhian', '32', 'Economista', '4.5', '4.0', '5.0'],
 ['Serrano', 'Silvia', '25', 'Ingeniera', '2.0', '1.0', '3.0'],
 ['Larrota', 'Arturo', '26', 'Economista', '4.2', '3.9', '4.5'],
 ['Ferrer', 'Camila', '35', 'Abogada', '3.9', '3.2', '4.7'],
 ['Moreno', 'Monica', '32', 'Economista', '4.5', '4.0', '5.0'],
 ['Guerrero', 'Raul', '25', 'Ingeniera', '2.0', '1.0', '3.0'],
 ['Roman', 'Lizeth', '26', 'Economista', '4.2', '3.9', '4.5'],
 ['Ramirez', 'Tatiana', '35', 'Abogada', '3.9', '3.2', '4.7'],
 ['Matallana', 'Stefanny', '32', 'Economista', '4.5', '4.0', '5.0'],
 ['Serrano', 'Sandra', '25', 'Ingeniera', '2.0', '1.0', '3.0']]

In [35]:
df[1][3]

'Economista'

In [46]:
nota_prom = input("Indique la nota promedio: ")
def nota_promedio(nota):
    print("Los estudiantes que tienen este promedio son: ")
    for i in range(len(df)):
        if df[i][4] == nota:
            print(df[i][1], df[i][0])
nota_promedio(nota_prom)

Indique la nota promedio: 4.2
Los estudiantes que tienen este promedio son:
Daniel Rojas
Arturo Roman
Arturo Quijano
Diego Roman
Arturo Larrota
Lizeth Roman
No hay nadie con esa nota

In [49]:
apellido = input("Ingrese el apellido: ")
def informacion(apellido):
    if apellido not in df:
        print("No hay nadie con ese apellido")
    for i in range(len(df)):
        if df[i][0] == apellido:
            print(f"Apellido: {df[i][0]}")
            print(f"Nombre: {df[i][1]}")
            print(f"Edad: {df[i][2]}")
            print(f"Profesión: {df[i][3]}")
            print(f"Nota promedio: {df[i][4]}")
            print(f"Peor nota: {df[i][5]}")
            print(f"Mejor nota: {df[i][6]}")
            print("-----------------------------------------")
informacion(apellido)

Ingrese el apellido: suare
No hay nadie con ese apellido

#### OTRA FORMA

In [29]:
base_de_datos = []
with open("archivo.txt") as f:
    for line in f:
        base_de_datos.append(line.strip())

In [30]:
base_de_datos

['Apellido,Nombre,Edad,Profesion,PromedioMCPP,PeorNota,MejorNota',
 'Rojas,Daniel,26,Economista,4.2,3.9,4.5',
 'Ramirez,Natalia,35,Abogada,3.9,3.2,4.7',
 'Matallana,Santiago,32,Economista,4.5,4.0,5.0',
 'Serrano,Natalia,25,Ingeniera,2.0,1.0,3.0',
 'Roman,Arturo,26,Economista,4.2,3.9,4.5',
 'Ramirez,Camila,35,Abogada,3.9,3.2,4.7',
 'Matallana,Monica,32,Economista,4.5,4.0,5.0',
 'Serrano,Raul,25,Ingeniera,2.0,1.0,3.0',
 'Quijano,Arturo,26,Economista,4.2,3.9,4.5',
 'Manrrique,Camila,35,Abogada,3.9,3.2,4.7',
 'Torres,Monica,32,Economista,4.5,4.0,5.0',
 'Vergara,Raul,25,Ingeniera,2.0,1.0,3.0',
 'Roman,Diego,26,Economista,4.2,3.9,4.5',
 'Ramirez,Luis,35,Abogada,3.9,3.2,4.7',
 'Matallana,Cristhian,32,Economista,4.5,4.0,5.0',
 'Serrano,Silvia,25,Ingeniera,2.0,1.0,3.0',
 'Larrota,Arturo,26,Economista,4.2,3.9,4.5',
 'Ferrer,Camila,35,Abogada,3.9,3.2,4.7',
 'Moreno,Monica,32,Economista,4.5,4.0,5.0',
 'Guerrero,Raul,25,Ingeniera,2.0,1.0,3.0',
 'Roman,Lizeth,26,Economista,4.2,3.9,4.5',
 'Ramirez,Tatiana,35,Abogada,3.9,3.2,4.7',
 'Matallana,Stefanny,32,Economista,4.5,4.0,5.0',
 'Serrano,Sandra,25,Ingeniera,2.0,1.0,3.0']

# Supletorio

In [54]:
def buscar_bolita(inicial, final):
    
    if inicial == "1" and final == "1" or inicial == "2" and final == "3" or inicial == "3" and final == "2":
        print("Felicitaciones. ¡Ganó!")
    else:
        print("Lo sentimos. Ha perdido.")
inicial = input("Dígame en que vaso quiere ubicar la bolita inicialmente (1/2/3): ")
final = input("Dígame en que vaso cree que terminará la bolita (1/2/3): ")
buscar_bolita(inicial, final)

Dígame en que vaso quiere ubicar la bolita inicialmente (1/2/3): 2
Dígame en que vaso cree que terminará la bolita (1/2/3): 2
Lo sentimos. Ha perdido.