# Programming Basics

### Hello World

In [ ]:
# Con "#" Uno puede hacer los títulos. Dependiendo del número de hashtags hará un subtítulo. "Markdown"

In [3]:
print("Bienvenido a MCPP.")

Bienvenido a MCPP.

In [4]:
mensaje = "Bienvenido a MCPP."

In [5]:
print(mensaje)

Bienvenido a MCPP.

In [6]:
mensaje

'Bienvenido a MCPP.'

In [7]:
mensaje2="Bienvenidos todos a MCPP."
print(mensaje2)

Bienvenidos todos a MCPP.

### Tipos

#### Enteros

In [8]:
a = 5
b = 3
c = 2

In [9]:
a

5

In [11]:
type(a) #Para ver el tipo de la variable

int

#### Reales

In [12]:
x = 15.0 #Los decimales se ponen con "."

In [13]:
type(x) #Float: números con decimales

float

#### Texto

In [14]:
t1="Santiago"

In [20]:
t2="Ortiz"

In [21]:
t1 + t2

'SantiagoOrtiz'

In [23]:
t2=" Ortiz"

In [24]:
t1 + t2 #Es una concatenación

'Santiago Ortiz'

In [25]:
d= a + b + c

In [26]:
d

10

In [27]:
type(d)

int

In [28]:
t1 + d #No se pueden sumar str con int

TypeError: can only concatenate str (not "int") to str

In [29]:
d // 3 #El // es el entero a la izquierda

3

In [30]:
d % 3 #El residuo del cociente (10/3=3 residuo 1)

1

In [31]:
input() #Le permite al usuario interactuar con el computador. Darle un argumento al PC
#Asigna el tipo str a lo que el usuario ponga, incluso números.

Esto es una prueba

'Esto es una prueba'

In [32]:
a = input()

20

In [33]:
a

'20'

In [34]:
type(a)

str

### Expresiones booleanas

In [36]:
10 > 5

True

In [37]:
d < 5

False

In [38]:
#Si se tiene un entero como un string:
int(a) > 5

True

In [39]:
c >=5

False

In [40]:
b > 5 and d > 5

False

In [42]:
not (b > 5 and d > 5 )

True

In [ ]:
del() #La variable que uno quiera eliminar. Recuerde que hay palabras reservadas
      #y palabras que no es bueno que uno use como variables

In [43]:
a

'20'

In [44]:
a = int(a)

In [45]:
a

20

In [46]:
type(a)

int

In [47]:
a == 5 #El doble igual es para saber si si es igual. Operador lógico ==, asignar =

False

### EJERCICIOS EN CLASE

In [2]:
x = "¡Hola Mundo!"
print(x)

¡Hola Mundo!

In [3]:
x

'¡Hola Mundo!'

In [4]:
nombre = input("Digame su nombre: ")

Digame su nombre: Santiago

In [5]:
print("¡Hola", nombre+"!")

¡Hola Santiago!

In [6]:
b=3
y=2
a=1
z=10
b + 22 + y * y / b + (a + b) - y / (4 + z)

30.19047619047619

In [22]:
usuario = input("Digame su nombre: ")

Digame su nombre: Santiago

In [23]:
veces = input("Número de veces que quiera que repita: ")

Número de veces que quiera que repita: 6

In [24]:
print((usuario+"\n")*int(veces)) #Entre parentesis la variable que queremos que se repita

Santiago
Santiago
Santiago
Santiago
Santiago
Santiago

In [25]:
usuario = input("Digame su nombre: ")
veces = input("Número de veces que quiera que repita: ")
print(("Hola "+usuario+"\n")*int(veces)) #Entre parentesis la variable que queremos que se repita

Digame su nombre: Santi
Número de veces que quiera que repita: 4
Hola Santi
Hola Santi
Hola Santi
Hola Santi